*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #01030E;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    padding: 20px 2%;
}

header > .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    transition: .5s;
}

.container, .cronometro-container{    
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

.cronometro-container{
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cronometro-container h1{
    text-align: center;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.cronometro-display{
    max-width: 300px;
    width: 100%;
    border-radius: 20px;    
    background-color: #000018;
    box-shadow: 0 0 3px 1px #111177;
}

.cronometro-box{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.cronometro-box span{
    color: white;
    font-size: 48px;
}

.cronometro-indicativo span{
    font-size: 12px;
    margin: 0 15px;
}

.cronometro-btn{
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #050531;
}

.cronometro-btn button{
    width: 100px;
    height: 35px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

footer{
    padding: 0 2%;
    text-align: center;
}

footer .link-rodape{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-rodape{
    max-width: 200px;
    width: 100%;
}

.nav-rodape ul{
    list-style: none;    
    display: flex;
    justify-content: space-around;
}

.nav-rodape a, .creditos a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
}

.nav-rodape a:hover, .creditos a:hover, .logo:hover{
    opacity: .7;
}

footer .creditos{
    color: white;
    margin-top: 10px;
}